/* specificity: 1 */
body {
	 margin: 0;
  	 /* overflow: hidden; */ }

iframe {
	 border: 1px solid black;
	 width: 100%;
}

.output {
	 background: #eee;
}

/* specificity: 1 */
h1 {
	 text-align: center;
  	 font-size: 2rem !important; }

/* specificity: 10 (each) */
.item1 { grid-area: header;
	 font-size: 0.8rem !important; }
.item2 { grid-area: menu; }
.item3 { grid-area: main;
	 /* height: 300px; */
	 overflow: hidden;
 	 /* background-color: transparent !important; */ }
.item4 { grid-area: footer;
         font-size: 17px !important; }

/* specificity: 10 */		
.grid-container {
	 display: grid;
  	 grid-template-areas:
    	 'header header header header header header'
     	 'menu main main main main main'
    	 'menu footer footer footer footer footer';
  	 grid-gap: 10px;
  	 padding: 10px; }

/* specificity: 11 */		
.grid-container > div {
 	 background-color: #2196B3; 
  	 text-align: center;
  	 padding: 20px 0;	/* 20px 0;   was here*/
  	 font-size: 30px; }

.subscr {
	 font-variant-position: sub;  }

.grid-container > div > #buttonsId {
	 /*  left: 50%;
	 transform: translateX(-50%); */ }
	
/* specificity: 10 */
.onmouseOver {
	 font-style: italic; }

/* specificity: 100 */
#rulesId {
	 margin-left: 3px;
	 text-align: left; }

/* specificity: 100 */
#canvasId {
  	 margin: 0;
/*  	 width: 500px;
  	 height: 300px;	*/
	 background-color: rgb(255,255,255) !important;
	 border: solid, 1px, black;
	 border-radius: 10px;
	 /* overflow: hidden; */ }

/* specificity: 100 */
#buttonsId {
	 background-color: rgba(125,125,125,0.5);
  	 width: 382px;
  	 position: absolute;
  	 margin-top: 5px;
	 left: 58.33%; /* 3.5/6 = 58.33%:   1/6th for the menu, plus 1/2 of the remaining 5/6ths */
	 transform: translateX(-50%);
  	 text-align: center;
  	 color: black;
	 font-size: 0.8rem; }

/* specificity: 200 */
#buttonsId > #arialFont {
	 font: 0.8rem arial;
	 text-align: center;
	 color: black; }

/* specificity: 200 */
#buttonsId > #numDiscs {
	 font: 1rem arial;
	 background-color: rgba(200, 120, 120, 0.3);
	 color: rgb(200, 5, 170); }

#minMovesId {
     /* background-color: rgba(125,125,125,0.5); */
     width: 382px;
     position: absolute;
     /* margin-top: 50%;  3.5/6 = 58.33%:   1/6th for the menu, plus 1/2 of the remaining 5/6ths */
     transform: translateX(-50%);
     text-align: right;
     color: black;
     font-size: 0.7rem; }

#canvasId > #minMovesId {
	 margin-bottom: 5px;
	 }	 

/* specificity: 200 */
#minMovesId > #arialFont2 {
     font: 0.7rem arial;
     text-align: center;
     color: black; }

/* specificity: 200 */
#minMovesId > #minMoves {
     font: 0.7rem arial;
     background-color: rgba(200, 120, 120, 0.3);
     color: rgb(200, 5, 170); }

/* specificity: 1 */
canvas {
	 /* display: block;  pridal */
  	 width: 500px;
  	 height: 300px;
	 /*background-color: rgba(255,255,0,0.2) !important; */ }

